### ===== ignore all ===== ###
*
# /*
# /.**

### ===== not ignore ===== ###
!/setup.sh
!/.Brewfile
!/.zshrc
!/.zimrc
!/.gitignore

!/README.md
!/LICENSE

!/_setup/
/_setup/.DS_Store
!/others/
/others/.DS_Store

!/config/.config/nvim/
/config/.config/nvim/.DS_Store
!/config/.config/alacritty/alacritty.toml
!/config/.config/git/ignore
!/config/.config/kitty/current-theme.conf
!/config/.config/kitty/kitty.conf
!/config/.config/skhd/skhdrc
!/config/.config/yabai/yabairc
!/config/.config/zed/settings.json
