### ===== ignore all ===== ###
/*
/.**

### ===== not ignore ===== ###
!/.gitconfig
!/.Brewfile
!/.zshrc
!/.zimrc

!/linklist.txt
!/link.sh
!/setup.sh

!/.gitignore
!/README.md
!/LICENSE

# .config
!/.config/
!/.config/**
/.config/**/.DS_Store

!/.tmux.conf
!/.hyper.js
!/.wezterm.lua
!/.hammerspoon/
!/.hammerspoon/**
